<ion-header>
  <ion-toolbar>
    <!-- Conditionally display the back button unless the current route is excluded -->
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Conditionally display the menu button only on the dashboard -->
    <ion-buttons slot="start" *ngIf="!showBackButton && isDashboardRoute">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="title-centered">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
