

  
  .orgItem{
    display: flex;
    
  }

  .orglabel{
    margin-left: 20px;
  }

  .confirm-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .org-name-list{
    // height: 50%;
  }
