@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .icon-position{
      margin: auto 0;
    }
  
    .font-30{
      font-size: 30px;
    }
    .color-green {
      color: #22850a;
    }
    .large-font {
      font-size: 16px;
    }
    .success{
      font-size: 16px;
    }
  
    .slideIn {
      animation-name: slidein;
      animation-duration: 2s;
  }
  