<app-header [title]="'Docs Receive'"></app-header>

<ion-content>
  <app-scanner 
  [searchTerm]="searchText" (clearSearchChange)="clearSearch($event)" (sendScanValue)="scan($event)"
  ></app-scanner>

  <app-search 
    [items]="list" 
    (searchResults)="onSearchResults($event)" 
    
  ></app-search>

  <ion-card *ngFor="let card of list" (click)="goToItemsPage(card.PoNumber)">
    <ion-card-header class="card-header-flex">
      <div>
        <ion-button>{{ card.PoNumber }}</ion-button>
      </div>
      <div>
        <p>{{ card.PoType }}</p>
        <p>{{ card.VendorName }}</p>
      </div>
      <div class="items">
        <p>{{ card.count }}</p>
        <p>Items</p>
      </div>
    </ion-card-header>

    <ion-card-content class="card-content-flex">
      <p>{{ card.NeedByDate }}</p>
      <p>{{ card.Requestor }}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll
    threshold="10px"
    position="bottom"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content 
      loadingText="Please wait..."
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
